data/*
preprocessing/csv_data_IGIS/
prompts/
thumbnail_injector_codebase.txt

preprocessing/
!preprocessing/copy_IGIS_images.py
!preprocessing/extract_parallel_v2.py

output/
models/train_assessor.py
*__pycache_*
*.pth*
injection_test_script.py
README.md
requirements.txt
output