data/
data/full_images/
data/thumbnails/21APR24_Approved_original_size/
data/thumbnails/training/
data/cropdiva/
src/injection/injector_old.py
src/utils/grid_utils_OLD.py
src/utils/grid_utils_copy.py
src/thumbnail_selection/thumbnail_assessor_OLD.py
preprocessing/csv_data_IGIS/all_training_thumbnails.csv
prompts/
thumbnail_injector_codebase.txt
preprocessing/
output/
*__pycache_*
*.pth*
injection_test_script.py
README.md
requirements.txt
output