data/*
preprocessing/csv_data_IGIS/
prompts/
thumbnail_injector_codebase.txt

preprocessing/
!preprocessing/copy_IGIS_images.py
!preprocessing/extract_parallel_v2.py
!preprocessing/fetch_from_db_v2.py
!preprocessing/copy_sample_images_for_injection.py
!preprocessing/rename_data.py
!preprocessing/remove_csv.py

*__pycache_*
*.pth*
injection_test_script.py
README.md
requirements.txt
output